.counter__button{
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2vh;
  margin: 10px;
  height: 50px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.counter__button:hover{
  background-color: rgb(116, 116, 116);
  color: #fff;
}