.container{
  border: 2px solid #d4d4d4;
  border-radius: 4px;
  display: flex;
  max-width: 400px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 10px 0 10px;
  justify-content: center;  
}

h1{
  font-size: 8vh;
  text-align: center;
}

.col{
  flex-direction: column;
}

.row{
  flex-direction: row;
}
